<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{ template.description }}">
        <meta name="keywords" content="{{ template.keywords }}">
        <title>{{site.title}} ~ {{ template.title }}</title>

        <meta name="og:title" content="{{ site.title }}" />
        <meta name="og:site_name" content="{{ site.fb.appName }}" />
        <meta name="og:app_id" content="{{ site.fb.appId }}" />
        <meta name="og:url" content="{{ site.url }}" />
        <meta name="og:description" content="{{ site.description }}" />
        <meta name="og:image" content="/images/shareimage.jpg" />
        <meta name="og:locale" content="{{#if template.lang}}{{template.lang}}{{/if}}" />
        <meta name="og:type" content="website" />
    	
        <link rel='stylesheet' href='/css/main.css'>

        {{#unless config.production }}
            {{> reload }}
        {{/unless}}
    
        <link rel="image_src" href="/images/shareimage.jpg" /> 
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
        <div class="container">