{{> header }}

<div class="header-container cont">
	<div class="header int">
		<a hf="/" title="Spilhuset" class="logo">
			{{{img "spilhuset.png"}}}
		</a>
	</div>
</div>

<div class="content-container cont">
	<div class="content int">
		<p class="center">
			<a class="lang" href="/dk/">Spilhuset på Dansk</a>
		</p>

		<div class="asection section">
			<p>Spilhuset is a magical place located in the heart of Copenhagen. Historically home to some of the nations best game developers, Spilhuset is the perfect environment for game and tech startups to meet, think, build and celebrate. Since the mid 2000s, talented and ambitious startups have contributed to our community’s culture, making it Denmark’s biggest cluster of game companies.</p>

		</div>
		
		<div class="bsection section">
			<p>With the spirit of the community, we’re opening a cozy 620 m<sup>2</sup> apartment-style coworking space in 2015. This new space offers the perfect compromise between intimate working space and tech community. From private space (desk or room) to conference rooms and common areas, we provide everything startups need to succeed.</p>
		</div>

		<div class="csection section">
			<h3>What we offer</h3>

			<p>As a company in Spilhuset you get access to a fully furnished office environemnt in lovely surroundings. High speed internet access. We offer payed lunch arrangements. All companies have access to a large meeting room on the 2. floor, a small meeting room on the 1. floor and the dining hall with room for 40 people.</p>

			<h3>The price</h3>

			<ul>
				<li>Office space in closed environment: from 2700 kr.</li>
				<li>Virtual office space: 800 kr.</li>
			</ul>

			<h3>The space</h3>

			<p class="center">Photos from the 1. floor after it's renovation.</p>

			<div class="gallery">
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0835.jpg">{{{img "t_5A3A0835.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0850.jpg">{{{img "t_5A3A0850.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0860.jpg">{{{img "t_5A3A0860.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0867.jpg">{{{img "t_5A3A0867.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0871.jpg">{{{img "t_5A3A0871.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0881.jpg">{{{img "t_5A3A0881.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0887.jpg">{{{img "t_5A3A0887.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0900.jpg">{{{img "t_5A3A0900.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0906.jpg">{{{img "t_5A3A0906.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0918.jpg">{{{img "t_5A3A0918.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0921.jpg">{{{img "t_5A3A0921.jpg" false }}}</a></div>
			</div>

			<p class="center">Photos from the 2. floor shared facilities and the Robocat Office.</p>

			<div class="gallery">
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8191.jpg">{{{img "t_5A3A8191.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8227.jpg">{{{img "t_5A3A8227.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8235.jpg">{{{img "t_5A3A8235.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8243.jpg">{{{img "t_5A3A8243.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8271.jpg">{{{img "t_5A3A8271.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8285.jpg">{{{img "t_5A3A8285.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8295.jpg">{{{img "t_5A3A8295.jpg" false}}}</a></div>
			</div>
		</div>
	</div>
</div>

<div class="contact-container cont">
	<div class="contact int">
		<a href="https://www.facebook.com/spilhuset">Spilhuset on Facebook</a>
	</div>
</div>

<div class="contact-container cont">
	<div class="contact int">
		<a href="mailto:hello@spilhuset.com?subject=Let's%20Talk">Get in touch</a>
	</div>
</div>

<div class="companies-container cont">
	<div class="companies int">

		<div class="row">
			<div class="section asection">
			<a href="http://www.knapnokgames.com/" target="_blank">
				{{{img "knapnok.png"}}}
			</a>
			</div>

			<div class="section bsection">
				<a href="http://robo.cat" target="_blank">
					{{{img "robocat.png"}}}
				</a>
			</div>

			<div class="section csection">
				<a href="http://portaplay.dk/" target="_blank">
					{{{img "portaplay.png"}}}
				</a>
			</div>
		</div>

		<div class="row">
			<div class="section asection">
				<a href="http://www.iconfinder.com" target="_blank">
					{{{img "iconfinder.png"}}}
				</a>
			</div>

			<div class="section bsection">
				<a href="http://www.lohika-games.com/" target="_blank">
					{{{img "lohika.png"}}}
				</a>
			</div>

			<div class="section csection">
				<a href="http://pressplay.dk/" target="_blank">
					{{{img "pressplay.png"}}}
				</a>
			</div>
		</div>

		<div class="row">
			<div class="section asection">
				<a href="http://duckandcovergames.com/" target="_blank">
					{{{img "duckandcover.png" false}}}
				</a>
			</div>
			
		</div>
	</div>
</div>

<div class="footer-container cont">
	<div class="footer int">
		<a href="http://robo.cat" class="robocat-iphone" target="_blank">
			{{{img "cat.png"}}}
		</a>
		<p>
			Operated by <a href="http://robo.cat" target="_blank">Robocat</a>
			<span class="space"></span>
			<a href="http://robo.cat" class="robocat">{{{img "cat.png"}}}</a>
			<span class="space"></span>
			<br>
			<a href="http://maps.google.com?q=Spilhuset" target="_blank">Pilestræde 43, Copenhagen</a>
		</p>
	</div>
</div>

{{> footer }}
