{{> header }}

<div class="header-container cont">
	<div class="header int">
		<a hf="/" title="Spilhuset" class="logo">
			{{{img "spilhuset.png"}}}
		</a>
	</div>
</div>

<div class="content-container cont">
	<div class="content int">
		<p class="center">
			<a class="lang" href="/">Spilhuset in English</a>
		</p>

		<div class="asection section">
			<p>Spilhuset er et magisk sted i hjertet af København. Historisk set er Spilhuset hjemmet for nogle af nationens bedste spiludviklere. Spilhuset er det perfekte miljø for spil og teknologi startups at mødes, tænke og bygge. Siden midten af 2000'erne har dygtige og ambitiøse virksomheder bidraget til fælleskabets kultur, og gjort det til Danmarks største samling af spilvirksomheder.</p>

		</div>
		
		<div class="bsection section">
			<p>Med fælleskabets ånd åbner vi et 620 m<sup>2</sup> coworking space i 2015. Dette nye coworking space tilbyder det perfekte kompromis imellem en intim arbejdsplads og det tekniske fællesskab. Vi tilbyder alt fra skriveborde, private kontore, mødelokaler og fællesarealer.</p>
		</div>

		<div class="csection section">
			<h3>Hvad vi kan tilbyde</h3>

			<p>Som et firma i Spilhuset får du adgang til et fuldt møbleret kontor miljø i skønne omgivelser og internet adgang med høj hastighed. Alle firmaer har adgang til et stort mødelokale på 2. sal, et lille mødelokale på 1. sal og spisesalen med plads til 40 mennesker. Vi tilbyder også betalt frokost ordning.</p>

			<h3>Priserne</h3>

			<ul>
				<li>Skrivebord i lukket miljø: from 2700 kr.</li>
				<li>Skrivebord i åbent miljø: 1700 kr.</li>
				<li>Virtuelt kontor miljø: 800 kr.</li>
			</ul>

			<h3>Kontormiljøet</h3>

			<p class="center">Billeder fra efter renoveringen af 1. sal.</p>

			<div class="gallery">
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0835.jpg">{{{img "t_5A3A0835.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0850.jpg">{{{img "t_5A3A0850.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0860.jpg">{{{img "t_5A3A0860.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0867.jpg">{{{img "t_5A3A0867.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0871.jpg">{{{img "t_5A3A0871.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0881.jpg">{{{img "t_5A3A0881.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0887.jpg">{{{img "t_5A3A0887.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0900.jpg">{{{img "t_5A3A0900.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0906.jpg">{{{img "t_5A3A0906.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0918.jpg">{{{img "t_5A3A0918.jpg" false }}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A0921.jpg">{{{img "t_5A3A0921.jpg" false }}}</a></div>
			</div>

			<p class="center">Billeder fra de delte faciliteter og Robocat's kontor på 2. sal.</p>
			

			<div class="gallery">
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8191.jpg">{{{img "t_5A3A8191.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8227.jpg">{{{img "t_5A3A8227.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8235.jpg">{{{img "t_5A3A8235.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8243.jpg">{{{img "t_5A3A8243.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8271.jpg">{{{img "t_5A3A8271.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8285.jpg">{{{img "t_5A3A8285.jpg" false}}}</a></div>
				<div class="photo"><a data-lightbox="floor" target="_blank" href="/images/5A3A8295.jpg">{{{img "t_5A3A8295.jpg" false}}}</a></div>
			</div>>
		</div>
	</div>
</div>

<div class="contact-container cont">
	<div class="contact int">
		<a href="https://www.facebook.com/spilhuset">Spilhuset på Facebook</a>
	</div>
</div>

<div class="contact-container cont">
	<div class="contact int">
		<a href="mailto:hello@spilhuset.com?subject=Let's%20Talk">Kontakt os</a>
	</div>
</div>

<div class="companies-container cont">
	<div class="companies int">

		<div class="row">
			<div class="section asection">
			<a href="http://www.knapnokgames.com/" target="_blank">
				{{{img "knapnok.png"}}}
			</a>
			</div>

			<div class="section bsection">
				<a href="http://robo.cat" target="_blank">
					{{{img "robocat.png"}}}
				</a>
			</div>

			<div class="section csection">
				<a href="http://portaplay.dk/" target="_blank">
					{{{img "portaplay.png"}}}
				</a>
			</div>
		</div>

		<div class="row">
			<div class="section asection">
				<a href="http://www.iconfinder.com" target="_blank">
					{{{img "iconfinder.png"}}}
				</a>
			</div>

			<div class="section bsection">
				<a href="http://www.lohika-games.com/" target="_blank">
					{{{img "lohika.png"}}}
				</a>
			</div>

			<div class="section csection">
				<a href="http://pressplay.dk/" target="_blank">
					{{{img "pressplay.png"}}}
				</a>
			</div>
		</div>

		<div class="row">
			<div class="section asection">
				<a href="http://duckandcovergames.com/" target="_blank">
					{{{img "duckandcover.png" false}}}
				</a>
			</div>
			
		</div>
	</div>
</div>

<div class="footer-container cont">
	<div class="footer int">
		<a href="http://robo.cat" class="robocat-iphone" target="_blank">
			{{{img "cat.png"}}}
		</a>
		<p>
			Bestyret af <a href="http://robo.cat" target="_blank">Robocat</a>
			<span class="space"></span>
			<a href="http://robo.cat" class="robocat">{{{img "cat.png"}}}</a>
			<span class="space"></span>
			<br>
			<a href="http://maps.google.com?q=Spilhuset" target="_blank">Pilestræde 43, Copenhagen</a>
		</p>
	</div>
</div>

{{> footer }}
